[user]
  name = Fletcher Nichol
  email = fnichol@nichol.ca

[status]
  relativePaths = false

[alias]
  a = add
  ca = commit -v -a
  ci = commit -v
  co = checkout
  i = init
  st = status
  sub = submodule
  subi = submodule init
  subu = submodule update

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
