[user]
  name = Fletcher Nichol
  email = fnichol@nichol.ca

[status]
  relativePaths = false

[alias]
  a = add
  ap = add -p
  aliases = !git config --get-regexp alias | sed -e 's/^alias\\.\\(.*\\)$/\\1/' -e 's/^\\([^ ]\\{1,\\}\\) \\(.*\\)$/\\1 = \\2/'
  ca = commit -v -a
  ci = commit -v
  cl = clone
  co = checkout
  d = diff
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  i = init
  pgm = push golden master
  rv = remote -v
  st = status
  sub = submodule
  subi = submodule init
  subu = submodule update
  trackup = branch --set-upstream

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
